.DS_Store
Thumbs.db
db.json
node_modules/
public/
.deploy*/
/dist

# local env files
.env.local
.env.*.local

# Log files
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
package-lock.json
